.counter{
    width: 300px;
    height: 300px;
    background-color: rgb(218, 221, 220);
    margin: auto;
    box-shadow: 1px 1px 1px 1px rgb(235, 235, 235);
    text-align: center;
}

.counter h1{
    text-align: center;
    color: skyblue;
}
.counter button{
    width: 45px;
    height: 40px;
    text-align: center;
    /* color: skyblue; */
    font-size: 30px;
    cursor: pointer;
}